<h1>サービス登録</h1>

<%= form_with model: @service, local: true, class:"form-new" do |f| %>
  <%= f.label :name, "サービス（商品）名", class:"form-label" %>
  <%= f.text_field :name %>
  <%= f.label :price, "サービス単価", class:"form-label" %>
  <%= f.text_field :price %>
  <%= f.submit "登録", class:"form-btn" %>
<% end %>
