<div class="header">
    <% if user_signed_in? %>
      <%= link_to "Topへ", root_path, class:"header-top-link" %>
      <%= link_to current_user.nickname, "#", class:"header-user" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"header-user" %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class:"header-user" %>
      <%= link_to '新規登録', new_user_registration_path, class:"header-user" %>
    <% end %>
</div>
