<div class="side-bar">
  <ul class="side-bar-ul">
    <li><%= link_to "受注予定", prospects_path, class:"side-bar-li" %></li>
    <li><%= link_to "契約情報", orders_path, class:"side-bar-li" %></li>
    <li><%= link_to "顧客情報", clients_path, class:"side-bar-li" %></li>
    <li><%= link_to "サービス（商品）", services_path, class:"side-bar-li" %></li>
    <li><%= link_to "ユーザー管理", root_path, class:"side-bar-li" %></li>
    <li><%= link_to "複合検索", root_path, class:"side-bar-li" %></li>
    <li><%= link_to "システム設定", root_path, class:"side-bar-li" %></li>
  </ul>
</div>
