<%= render "shared/header" %>

<h1>client/index</h1>
<%= link_to "顧客登録", new_client_path %>

<br><br>
<% if @clients == [] %>
  <p>顧客が登録されていません</p>
<% else %>
  <% @clients.each do |client| %>
    <%= link_to "編集", edit_client_path(client.id) %>
    <%= link_to "削除", client_path(client.id), method: :delete %>
    <%= client.name %>
    <%= client.phone %>
    <%= client.address %>
    <br>
  <% end %>
<% end %>
