<h1>契約情報編集</h1>

<%= form_with model: @order, local: true, class:"form-edit" do |f| %>
  <%= f.label :service_id, "サービス名", class:"form-label" %>
  <%= f.text_field :service_id, placeholder:"ドロップダウンで選択式にする" %>
  <%= f.label :client_id, "顧客名", class:"form-label" %>
  <%= f.text_field :client_id, placeholder:"ドロップダウンで選択式にする" %>
  <%= f.label :user_id, "担当営業", class:"form-label" %>
  <%= f.text_field :user_id, placeholder:"ドロップダウンで選択式にする" %>
  <%= f.label :order_date, "契約日", class:"form-label" %>
  <%= f.date_field :order_date %>
  <%= f.label :expiry, "契約満了日", class:"form-label" %>
  <%= f.date_field :expiry %>
  <%= f.label :license, "ライセンス数", class:"form-label" %>
  <%= f.number_field :license %>
  <%= f.label :note, "備考", class:"form-label" %>
  <%= f.text_area :note, class:"form-note" %>
  <%= f.submit "更新", class:"form-btn" %>
<% end %>
