<h2>契約情報一覧</h2>

<% if @orders == [] %>
  <p>契約情報が登録されていません</p>
<% else %>
<table>
  <tr class="table-subject">
  <th></th>
  <th></th>
  <th>顧客名</th>
  <th>サービス名</th>
  <th>担当営業</th>
  <th>ライセンス数</th>
  <th>契約金額</th>
  <th>契約日</th>
  <th>契約満了日</th>
  <th>備考</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
    <td><%= link_to "編集", edit_order_path(order.id) %></td>
    <td><%= link_to "削除", order_path(order.id), method: :delete %></td>
    <td class="td-client"><%= order.client.name %></td>
    <td class="td-service"><%= order.service.name %></td>
    <td class="td-user"><%= order.user.nickname %></td>
    <td class="td-license"><%= order.license %></td>
    <td class="td-price"><%= order.service.price * order.license %></td>
    <td class="td-date"><%= order.order_date %></td>
    <td class="td-date"><%= order.expiry %></td>
    <td class="td-note"><%= order.note %></td>
    </tr>
  <% end %>
  </table>
<% end %>
