<h2>受注予定一覧</h2>
<%= link_to "受注予定登録", new_prospect_path, class:"new-data-btn" %>

<% past_prospects = [] %>

<% if @prospects == [] %>
  <p>受注予定が登録されていません</p>
<% else %>
  <details open>
    <summary>現在の受注予定</summary>
    <table>
      <tr class="table-subject">
        <th>No.</th>
        <th></th>
        <th></th>
        <th></th>
        <th>顧客名</th>
        <th>サービス名</th>
        <th>担当営業</th>
        <th>ライセンス数</th>
        <th>受注予定金額</th>
        <th>受注予定日</th>
        <th>備考</th>
      </tr>
      <% row_count = 1 %>
      <% @prospects.each do |prospect| %>
        <% flag = 0 %>
        <% @orders.each do |order| %>
          <% if prospect.id == order.prospect_id %>
            <% flag = 1 %>
            <% past_prospects << prospect %>
          <% end %>
        <% end %>
        <% if flag == 0 %>
          <tr>
            <td class="td-count"><%= row_count %></td>
            <td><%= link_to "受注", new_prospect_order_path(prospect.id) %></td>
            <td><%= link_to "編集", edit_prospect_path(prospect.id) %></td>
            <td><%= link_to "削除", prospect_path(prospect.id), method: :delete, data: {confirm: "削除しますか？"} %></td>
            <td class="td-client"><%= prospect.client.name %></td>
            <td class="td-service"><%= prospect.service.name %></td>
            <td class="td-user"><%= prospect.user.nickname %></td>
            <td class="td-license"><%= prospect.license %></td>
            <td class="td-price"><%= (prospect.service.price * prospect.license).to_s(:delimited) %></td>
            <td class="td-date"><%= prospect.scheduled_order_date %></td>
            <td class="td-note"><%= prospect.note %></td>
          </tr>
          <% row_count += 1 %>
        <% end %>
      <% end %>
    </table>
  </details>
<% end %>

<div class="space"></div>

<details>
  <summary>過去の受注予定</summary>
  <table>
    <tr class="table-subject">
      <th>No.</th>
      <th>顧客名</th>
      <th>サービス名</th>
      <th>担当営業</th>
      <th>ライセンス数</th>
      <th>受注予定金額</th>
      <th>受注予定日</th>
      <th>備考</th>
    </tr>
    <% row_count = 1 %>
    <% past_prospects.each do |past_prospect| %>
      <tr>
        <td class="td-count"><%= row_count %></td>
        <td class="td-client"><%= past_prospect.client.name %></td>
        <td class="td-service"><%= past_prospect.service.name %></td>
        <td class="td-user"><%= past_prospect.user.nickname %></td>
        <td class="td-license"><%= past_prospect.license %></td>
        <td class="td-price"><%= (past_prospect.service.price * past_prospect.license).to_s(:delimited) %></td>
        <td class="td-date"><%= past_prospect.scheduled_order_date %></td>
        <td class="td-note"><%= past_prospect.note %></td>
      </tr>
      <% row_count += 1 %>
    <% end %>
  </table>
</details>
