<h1>受注予定登録</h1>

<%= form_with model: @prospect, local: true, class:"form-new" do |f| %>
  <%= f.label :service_id, "サービス名", class:"form-label" %>
  <%= f.collection_select(:service_id, Service.all, :id, :name, prompt: "選択してください") %>
  <%= f.label :client_id, "顧客名", class:"form-label" %>
  <%= f.collection_select(:client_id, Client.all, :id, :name, prompt: "選択してください") %>
  <%= f.label :user_id, "担当営業", class:"form-label" %>
  <%= f.collection_select(:user_id, User.all, :id, :nickname, prompt: "選択してください") %>
  <%= f.label :scheduled_order_date, "契約予定日", class:"form-label" %>
  <%= f.date_field :scheduled_order_date %>
  <%= f.label :license, "ライセンス数", class:"form-label" %>
  <%= f.number_field :license %>
  <%= f.label :note, "備考", class:"form-label" %>
  <%= f.text_area :note, class:"form-note" %>
  <%= f.submit "登録", class:"form-btn" %>
<% end %>
