<h1>受注予定登録</h1>

<%= form_with model: @prospect, local: true do |f| %>
  <%= f.label :service_id, "サービス名" %>
  <%= f.collection_select(:service_id, Service.all, :id, :name, prompt: "選択してください") %>
  <br>
  <%= f.label :client_id, "顧客名" %>
  <%= f.collection_select(:client_id, Client.all, :id, :name, prompt: "選択してください") %>
  <br>
  <%= f.label :user_id, "担当営業" %>
  <%= f.collection_select(:user_id, User.all, :id, :nickname, prompt: "選択してください") %>
  <br>
  <%= f.label :scheduled_order_date, "契約予定日" %>
  <%= f.date_field :scheduled_order_date %>
  <br>
  <%= f.label :license, "ライセンス数" %>
  <%= f.number_field :license %>
  <br>
  <%= f.label :note, "備考" %>
  <%= f.text_area :note %>
  <br>
  <%= f.submit %>
<% end %>
